html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Nunito";
}

.container-fluid {
  display: block !important;
}

.pagination {
  height: 40px !important;
}

.presentation {
  height: 100%;
}

.containerPrincipal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid blue;
  padding: 40px;
  background-color: white;
}

.containerSecundario{
  text-align: center;
}
.page-link {
  display: flex;
}

.page-link,
.page-item:last-child .page-link,
.page-item:first-child .page-link {
  height: 35px;
  border-radius: 50%;
  border: none;
  color: #0e497c;
  margin: 20px 20px 20px 0;
  font-size: 14px;
}

.page-item.disabled button,
.page-item.disabled .page-link {
  cursor: not-allowed;
  color: #C5D1DD !important;
  background-color: #fff !important;
  border-color: #dee2e6;
}


.page-link:hover,
.page-item.active .page-link:hover,
.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:hover {
  color: white;
  background-color: #0e497c;
}

.page-item.active .page-link {
  background-color: transparent;
  border: 1px solid #0e497c;
  color: #0e497c;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(223, 222, 222);
}

a {
  text-decoration: none;
  color: black !important;
}

p {
  margin: 0;
}

.btn {
  border-radius: 20px;
  border: none;
}

.btn-primary {
  background-color: #1D527E;
}

.call-radio-input-label {
  margin-right: 20px;
}

.call-radio-input-label span {
  margin-left: 10px;
}

.board {
  padding-top: 90px;
  background-color: #A2BFE6;
  width: 100%;
  min-height: 100%;
}

.disabledPage {
  pointer-events: none;
  background-color: #e0d7d7;
}


.admin-sections-tab a:hover {
  border-color: transparent;
}

/*******  SIDE BAR  *********/


/*******  DnD AREA  *******/


.dndArea {
  display: flex;
  min-height: 500px;
}

.dndArea .card {
  padding: 0;
  box-shadow: none;
  border: 1px #A2BFE6 solid;
  border-radius: 0.375rem;
}

.dndArea .card-header {
  border-bottom: transparent;
  background-color: #A2BFE6;
  color: white;
  padding-left: 8px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.dndArea .tab-container {
  border: none;
}

.dndArea .nav-item {
  margin-right: 5px;
}

.dndArea .nav-link {
  border: none;
  background-color: #e4e1e18e;
}

.dndArea .card-header .title {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.dropZone {
  height: 35px;
  line-height: 15px;
  transition: 200ms all;
  flex-shrink: 0;
  text-align: center;
  min-width: 20px;
}

.dropZone.horizontalDrag {
  height: auto;
  width: 20px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.isLast {
  width: 100% !important;
  height: 35px !important;
}

.isAlone{
  border: 2px rgba(128, 128, 128, 0.473) dashed;
  margin-top: 15px;
}

.dropZone.active {
  transition: 100ms all;
  border: 2px grey dashed;
  background-color: transparent;
}


.variable {
  flex: 1 1 100%;
  background-color: whitesmoke !important;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.141));
}

.variable.card {
  padding: 0 !important;
}

.variable .card-header {
  border-bottom: none;
}

.question {
  display: flex;

}

.question.card {
  padding: 0 !important;
  padding-bottom: 20px !important;
  height: 100%;
  overflow-x: hidden;
}

.question .card-body {
  padding: 10px !important;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.row {
  margin-bottom: 30px;
  align-items: stretch !important;
}

.row:last-of-type,
.row.only-display {
  margin-bottom: 0px;
}

.columnContainer {
  display: flex;
}

.text {
  display: flex;
}

.section {
  width: 100%;
  padding: 0;
  display: flex;
}

.section .row {
  width: 100%;
  justify-items: flex-start;
}

.question .row>*,
.section .row>* {
  padding-left: 0 !important;
}

.page .row{
  align-items: center;
  margin-left: 0 !important;
}

.nodeItem {
  display: flex;
  padding: 0 !important;
}


.accordion-button {
  padding: 0;
}

.section .accordion-body {
  padding: 10px;
}



/***********************/

.page {
  margin-top: 10px;
  width: 100%;
  min-height: 500px;
}


.page .tab-container {
  background-color: #F9F8F8;

}

.form-label {
  width: 90%;
}

.select-label {
  top: -10px !important;
  left: auto !important;
  color: rgba(33, 37, 41, 0.65);
  font-size: 14px !important;
}

.input-label {
  left: auto !important;
}

.component {
  height: 60px;
  padding: 10px;
  background: #aaa;
}


.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.header-border {
  margin-top: 5px;
  height: 5px;
  border-bottom: 3px solid #145388;
  border-radius: 10px;
}

.paginationSelector {
  color: #b2b0b0;
}

.custom-select {
  border-radius: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  width: 60px;
  background-color: transparent;
}

.hidden-border {
  border-style: hidden;
}

.outlined-border {
  border-style: solid;
  border-bottom: 2px solid rgb(188, 187, 187);
}

input:focus-visible {
  border: none;
  outline: none;
}

.outlined-border.cl-gray {
  color: rgb(188, 187, 187);
}

.gap-md {
  gap: 15px;
}

.gap-lg {
  gap: 25px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  background-color: #F9F8F8;
  border-top-left-radius: 20px;
  padding: 30px 40px;
  width: 100%;
  z-index: 2;
}


.icon-border::before {
  content: "";
  background-color: white;
  display: block;
  width: 1px;
  height: 35px !important;
}

.outlineWrap {
  min-height: 40px;
  position: relative;
}

.outlinedColumn {
  color: #145388;
}

.outlinedColumn:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  z-index: 1;
  height: 2px;
  background-color: #145388;
}

.sectionBorder {
  width: 100%;
  position: relative;
}

.sectionBorder:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 2px;
  border-radius: 10px;
  background-color: #D8D8D8;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.form .mb-3 {
  margin-bottom: 0px !important;
}

.headerActions {
  display: flex;
}

.button {
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
}

.button:not(:first-child) {
  margin-left: 5px;
}

.colorPrimary {
  color: #ffffff;
  background-color: #145388;
}

.colorSave {
  color: #ffffff;
  background-color: #6FB234;
}

.colorSecondary {
  color: #335d9b;
  background-color: transparent;
  border: 1px solid #335d9b;
}

.customColumn {
  margin-right: -1px;
  /* Counteract the border width */
  border-right: 2px solid lightgray;
}

.customColumn:last-child {
  border-right: none;
  /* Remove border for the last child */
}

.modal-header {
  background-color: #B1CCEF;
  color: #145388;
}

.modal-content {
  box-shadow: 5px 5px 20px 0px #00000026;
  border: none;
}

.modal-dialog.full .modal-content {
  max-height: 80vh;
  height: 80vh;
}

.modal-body {
  padding: 30px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #C5D1DD;
  border-radius: 20px;
  border: 0;
}

.thead tr {
  line-height: 1px;
}

thead tr:last-child {
  border-bottom: 2px solid #D8D8D8 !important;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.breadCrumb {
  font-size: 25px;
}

.breadCrumb a {
  text-decoration: none;
  color: black;
}

.tabContainer {
  display: flex;
  font-size: 30px;
  gap: 20px;
  border-bottom: 2px black solid;
}

.tabContainer div {
  margin-top: 10px;
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
  padding: 0 10px 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.f-wrap {
  flex-wrap: wrap;
  gap: 30px;
}


.cl-gray {
  color: #8F8F8F;
}

.navbar {
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  min-height: 85px;
  height: 90px;
  z-index: 900000
}

/* Navbar bg */

.sideBarIcon {
  width: 35px;
}


.icon {
  width: 30px;
  padding: 0 0 0 10px;
  margin-right: 10px;
  cursor: pointer;
}

.icon.plus {
  width: 45px;

}

.actionsBar {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 30px;
  overflow-x: visible;
}

.edoList {
  height: 100%;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.hoverDrag {
  background-color: rgb(233, 188, 188);
}

.dragIc {
  cursor: grab;
}

.dragIc:active {
  cursor: grabbing;
}

.textAreaQuest {
  height: 200px;
}


/******  MERGE TOOL  ********/

.merge-tool .card,
.merge-tool .card-body {
  padding-bottom: 0px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 10px;
}

.merge-tool .card-header{
  background-color: transparent;
  border-bottom: none;
}


/******  EDIT FORM  ********/

.modal-dialog {
  padding-top: 100px;
}

.modal-dialog.full {
  width: 90vw;
  max-width: 90vw;
}

.adminEditForm .card {
  padding: 8px !important;
  border: 1px solid rgb(202, 200, 200) !important;
}

.plusIcon {
  width: 35px;
}

input {
  width: 100%;
  border: none;
}

.addOptionInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addOptionInput input[type="text"] {
  flex: 1;
}

.optionSelect {
  white-space: normal;
}

.conditionFirstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.conditionFirstRow>div {
  flex: 1;
}


.conditionHeader {
  background-color: #dfe3e7;
  padding: 10px;
}

.ratingSelect {
  min-width: 150px;
}

.optionsTable tr {
  height: 40px;
}


/*******  PREVIEW  *******/

.sectionPreviewTitle {
  font-size: 30px;
}

.textPreview p {
  text-align: justify;
  padding: 15px;
}


.accordion-button,
.accordion-header,
.accordion-item {
  background-color: transparent !important;
}


/********* BREADCRUMB ***********/

.breadcrumb {
  font-size: 20px;
}

.breadcrumb {
  margin-bottom: 0px !important;
}


/********* FILTERED TABLE ***********/

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  width: 15px;
}

.table-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
}

/********* EDO TABLE ***********/

.edoTable {
  width: 95%;
  border-color: transparent !important;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.04);
  padding: 20px !important;
}

.edoTable .card {
  padding: 0 !important;
}

.edoTable .card-header {
  border: none;
}

.edoTable tr {
  cursor: pointer;
}

.dropdownMenu {
  border: 1px rgb(150, 149, 149) solid !important;
  border-radius: 30px;
  padding-left: 0px;
  font-size: larger;
}

.tableSearcher:enabled {
  background-color: transparent !important;
  border-radius: 25px;
  border: 1px rgb(150, 149, 149) solid;
  color: rgb(150, 149, 149) !important;
  box-shadow: none;
  height: 50px;
  background: url(/src/assets/images/magnifying-glass.svg) no-repeat scroll;
  background-size: 20px;
  background-position: 95%;
  margin-top: 10px;
}

.tableSeatcher label {
  background-color: transparent;
}

.edoTable tr:last-child,
tr:last-child {
  border-bottom: transparent;
}

.edoTable td,
.edoTable th {
  padding: 0px 10px;
}

.edoTable td {
  cursor: pointer;
}

.relative-icon {
  position: relative;
  bottom: 10px;
  left: 3px;
}

.periodsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.cl-outline-primary {
  color: #145388;
}

.card {
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  border: 0px;
  background-color: #ffffff;
}

.card-without-pad {
  width: 100%;
  border-radius: 15px;
  border: 0px;
  background-color: #ffffff;
}

.flex-equal {
  flex: 1;
}

.cardIdentifier {
  border-radius: 30px;
  padding: 5px 20px;
  background-color: white;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  justify-items: left;
}

.vertical-align {
  vertical-align: middle;
}

.edoList td {
  padding: 10px 8px;
}

tbody tr {
  height: 60px;
}

td {
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.pr-20 {
  padding-right: 20px;
}

.period {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: row;
  text-align: center;
  min-width: 250px;
}

.periodTitle {
  font-weight: 700;
  font-size: 16px;
}

.periodSubtitle {
  font-size: 0.80rem;
}

.periodName {
  flex: 1;
  border-radius: 15px;
  display: flex;
  min-height: 84px;
  min-width: 84px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
}

.periodNameBlock {
  display: flex;
  align-items: center;
}

.periodData {
  text-align: left;
  flex: 10;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
}

.font-white {
  color: #ffffff;
}



/********* EDO ADMIN ***********/


.adminTable tr {
  height: auto;
}

.adminTable tr td:first-child {
  width: 20%;
}

.adminTable tr:last-child {
  border-bottom: transparent;
}

.adminTable tr td:last-child {
  text-align: end;
  padding-right: 20px;
}

.badge {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 0 20px !important;
  font-weight: 300;
  background-color: #BAD9F6 !important;
  color: #145388;
}

.cl-yellow {
  color: #EEA239;
}

.cl-red {
  color: #EA5769;
}

.cl-green {
  color: #8CC642;
}

.cl-blue {
  color: #A2BFE6;
}

.cl-blue-header {
  color: #1D527E;
}

.cl-red-header {
  color: #DE4352;
}

.cl-green-header {
  color: #4A8C10;
}

.cl-yellow-header {
  color: #EEA239;
}

.bg-yellow-card {
  background-color: #FFEBCF;
}

.bg-yellow {
  background-color: #EEA239;
}

.bg-red {
  background-color: #EA5769;
}

.bg-green {
  background-color: #8CC642;
}

.bg-blue {
  background-color: #A2BFE6;
}

.bg-red-card {
  background-color: #FFCFCA;
}

.bg-green-card {
  background-color: #E0F1D1;
}

.bg-blue-card {
  background-color: #BAD9F6;
}

.fs-08 {
  font-size: 0.8rem;
}

.capitalize {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.fs-lg {
  font-size: 1.3rem;
}

.filter-white {
  filter: brightness(0) invert(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.fs-breadcrumb-title {
  font-size: 28px;
}

.numberOfDiseases {
  font-size: 28px;
  font-weight: 700;
}


.status-circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.status-circle.active {
  background-color: #22ca3e;
}


.status-circle.inactive {
  background-color: #ca2822;
}

.pageContainer .accordion-button::after {
  display: none;
}

.pageContainer .accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  filter: brightness(0) invert(1);
  margin-right: 10px;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.merge-citizen .accordion-button::before {
  position: relative;
  top: -30px;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(201deg) brightness(96%) contrast(106%);
}

.pageContainer .accordion-button:not(.collapsed)::before {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}


.customButton {
  border-radius: 15px;
  color: #FFF;
  border: none;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 2.3rem;
  padding: 0 10px;
}

.saveButton {
  background-color: #6FB234;
}

.saveButton:disabled {
  background-color: #6fb234b9;
}

.saveButton:hover {
  background-color: #64a030;
}

.cancelButton{
  background-color: #1D527E;
}

.cancelButton:hover{
  background-color: #0d395e;
}

.cancelButton:disabled{
  background-color: #1d527e6e;
}




.pageContainer .tab {
  font-size: 16px;
  color: #1D527E;
}

.add-tab::before {
  content: url(assets/images/plus.svg);
  background-size: cover;
  margin-right: 10px;
  margin-left: 5px;
  vertical-align: -10%;
}

.progress-bar-container {
  height: 15px;
  border-radius: 10px 10px;
  width: 222px;
}

